<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>新经资讯后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
    <link rel="stylesheet" href="../../static/admin/css/jquery.pagination.css">
    <script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/admin/js/jquery.pagination.min.js"></script>
</head>
<body>
    <div class="breadcrub">
            当前位置：用户管理>用户列表
        </div>
        <div class="pannel">
            <table class="common_table">
                <tr>
                    <th>用户名</th>
                    <th>电话</th>
                    <th>注册时间</th>
                    <th>上次登录时间</th>
                </tr>

                <tr th:each="user:${userList}">
                    <td th:text="${user.nickName}"></td>
                    <td th:text="${user.mobile}"></td>
                    <td th:text="${user.createTime}"></td>
                    <td th:text="${user.updateTime}"></td>
                </tr>



            </table>
        </div>

        <div class="box">
            <div id="pagination" class="page"></div>
        </div>

        <script>
            $(function() {
                $("#pagination").pagination({
                    currentPage: {{ data.current_page }},
                    totalPage: {{ data.total_page }},
                    callback: function(current) {
                        window.location.href = "/admin/user_list?page=" + current
                    }
                });
            });
        </script>
</body>
</html>