<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/news/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/news/js/jquery.pagination.min.js"></script>
</head>
<body class="inframe_body">
    <div class="news_list">
        <h3>新闻列表</h3>
        <ul class="article_list" th:each="news:${news_list}" >
            <li th:if="${news.status}==0">
                <a th:href="@{/news/{id}(id=${news.id})}" th:text="${news.title} " target="_blank"></a>
                <em class="pass">已通过</em><span th:text="${news.createTime}"></span>
            </li>
            <li th:if="${news.status}==1">
                <a href="javascript:;" th:text="${news.title}"></a>
                <em class="review">审核中</em><span th:text="${news.createTime}"></span>
            </li>
            <li th:if="${news.status}==-1">

                <a href="javascript:;" th:text="${news.title}"></a>
                <em class="review">未通过</em><span th:text="${news.createTime}"></span>
                <b th:text="'未通过原因：'+${news.reason}"></b>
            </li>

        </ul>
        <div id="pagination" class="page"></div>
        <script>
            // 调用父页面的方法改变菜单指示
            // window.parent.fnChangeMenu(2);

            $(function(){
                $("#pagination").pagination({
                    currentPage: [[${current_page}]],
                    totalPage: [[${total_page}]],
                    callback: function(current) {
                        window.location.href = '/user/news_list?p=' + current
                    }
                });
            });
        </script>
       
    </div>
</body>
</html>