<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/news/js/jquery.pagination.min.js"></script>
    <script type="text/javascript" src="../../static/news/js/user_follow.js"></script>
</head>
<body class="inframe_body">
        <h3 class="common_title">我的关注</h3>
        <ul class="card_list_con" th:each="user:${userList}">

            <li class="author_card card_list">
                <a th:href="@{/user/other_info/(user_id=${user.id})}" target="_blank" class="author_pic">
                    <img th:src="${user?.avatarUrl==null} ? '../../static/news/images/user_pic.png' :${user.avatarUrl}" alt="author_pic">
                </a>

                <a th:href="@{/user/other_info/(user_id=${user.id})}" target="_blank" class="author_name" th:text="${user.nickName}"></a>
                <div class="author_resume" th:text="${user.signature}"></div>
                <div class="writings"><span>总篇数</span><b th:text="${user.newsCount}"></b></div>
                <div class="follows"><span>粉丝</span><b th:text="${user.followersCount}"></b></div>
                <a href="javascript:;" class="focused fr" th:data-userid="${user.id}"><span class="out">已关注</span><span class="over">取消关注</span></a>
            </li>
        </ul>
        
        
        <div id="pagination" class="page"></div>
        <script>
            $(function() {
                $("#pagination").pagination({
                    currentPage: [[${current_page}]] ,
                    totalPage: [[${total_page}]],
                    callback: function(current) {
                        window.location = "/user/user_follow?p=" + current
                    }
                });
            });
        </script>
</body>
</html>